/****** 
Tags
******/

body {
  background-color: #1b0243;
  height: 100%;
  color: white;
  margin: 2% 3%;
  font-family: "Roboto", sans-serif;
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
  letter-spacing: 4px;
}

p {
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/****** 
IDs
******/
#menue-content {
  display: none;
}

#main-content {
  display: block;
}

#nav-logo-wrapper {
  position: fixed;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

#burger-menue:hover > #svg-upper {
  y: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#burger-menue:hover > #svg-lower {
  y: 95;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#burger-menue > #svg-upper {
  y: 7;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#burger-menue > #svg-lower {
  y: 88;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#main-wrapper {
  /* margin-top: 5%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-image {
  max-width: 40%;
  height: auto;
  margin-left: -20%;
}

#discorver-variants-title {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

#variants-wrapper {
  display: flex;
  justify-content: space-around;
}

#variants-pic {
  width: 35%;
}

#last-img {
  width: 100vw;
  height: 100vh;
  margin-left: -3vw;
  /* position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  padding-left: -50vw;
  margin-right: -50vw;
  padding-right: -50vw; */
}

#menue-nav-logo-wrapper {
  position: fixed;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

#menue-options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20%; */
}

.menue-options {
  font-size: 5rem;
}

.menue-options:hover {
  color: #e041e6;
}

/****** 
Classes
******/

.main-text {
  margin-bottom: -10%;
  padding-bottom: -10%;
}

.screen {
  height: 100vh;
}

.info-text {
  margin: 25% 3%;
}

.shoe-pic {
  width: 45%;
}

.slogan-pic-left {
  display: flex;
  margin-bottom: 25%;
}

.slogan-text-wrapper {
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.variants-info-text {
  margin-left: -20%;
  text-align: center;
}

.variants-text {
  max-width: 20%;
}

.gradient-btn {
  width: 14vw;
  height: 9vh;
  background-image: linear-gradient(140deg, #e041e6 32%, #2a02b8 85%);
  border: 0px solid;
  color: white;
  font-size: 1.5rem;
}

.fun-section-top {
  margin-top: 20%;
}

.fun-section-wrapper :not(:last-child) {
  margin-bottom: -3%;
  padding: -3%;
}

.fun-text {
  text-align: center;
}

.last-section {
  margin-top: 20%;
  height: 70vh;
}

.last-section-text {
  margin-bottom: -3%;
  padding-bottom: -3%;
}
