body {
  background-color: #1b0243;
  color: white;
  margin: 2% 3%;
}

#nav-logo-wrapper {
  display: flex;
  justify-content: space-between;
}

#main-wrapper {
  /* margin-top: 5%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-image {
  max-width: 40%;
  height: auto;
}

#main-text {
  /* margin-top: ; */
}
